# Don't get the log
npm-debug.log

# Don't get the conf files:
conf.js

# Don't get the phonegap files:
public/.cordova
public/plugins
public/platforms
public/merges
public/www/config.xml
public/www/icon.png

# Don't get npm and bower files:
public/www/bower_components
public/www/b
node_modules

# Don't get heroku files:

# Don't get .DS_Store
.DS_Store
