# Don't get the log
npm-debug.log

# Don't get the conf files:

# Don't get the phonegap files:
public/.cordova
public/plugins
public/platforms
public/merges
public/www/config.xml
public/www/icon.png

# Don't get heroku files:
