body {
  margin: 0 0 51px 0;
  background-size: cover;
  font-family:"Times New Roman",Georgia,Serif;
  font-size: 160%;
}

#top {
  width: 100%;
  height: 28px;
  border-bottom: 1px solid #999;
/*  position: fixed;
  z-index: 100; */
  background: #fff;
  top: 0;
  padding-top: 5px;
}
#window {
  width: 100%;
  max-width: 570px;
  min-width: 100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

h1 {
  font-weight: bold;
  font-size: 2em;

}
.message {
  padding: 5px 20px 0 10px;
  margin-left: 40px;
}
.announce {
  background: #eee;
}
.hidden {
  display: none;
}
.gray {
  color: #999;
}
.nodecoration {
  text-decoration: none;
}
.small {
  font-size: 9pt;
}
.center {
  text-align: center;
}
.tag {
  color: #999;
  text-decoration: none;
}
.full {
  width: 100%;
  max-width: 570px;
  height: auto;
}
.time {
  float: right;
  color: #999;
}
.place {
color: #DDD;
float: right;
position: absolute;
right: 65px;
margin-top: 4px;
}
.avatar {
  float: left;
  margin-left: -40px;
  width: 32px;
  height: auto;
}
p {
  margin-bottom: 10px;
}
strong,
b {
  font-weight: bold;
}

a {
color: #0066cc;
}


div.message>p {
  min-height: 10px;
  line-height: 1.2;
  margin-bottom: 0;
}
div.message>p.name {
  margin-bottom: 0;
}
#chaut {
  width: 100%;
  height: 30px;
  max-width: 490px;
  min-width: 100px;
  border: 1px solid #fff;
  font-size: 11pt;
}
.twitter-typeahead {
width: 100%;
max-width: 490px;
}
#input:focus {
  outline: 0;
}
#jetzt {
  margin-bottom: 20px;
  position: relative;
}
canvas#meme {
  -webkit-transition: 1s;
  transition: 1s;
  display: none;
}
#meme {
  height: auto;
  width: 510px;
  height: 338px;
}

.memeThumb {
  margin-right: 15px;
  margin-bottom: -5px;
}
/*
#bigFork {
    display: inline;
}

#smallFork {
    display: none;
}
*/
#roomName {
    position:fixed; top: 0; height: 40px; background: #000; color: #fff; font-size: 20pt; padding-left: 20px; padding-top: 15px; width: 100%; max-width: 550px; display: none; z-index: 10;
}

#isWriting {
    margin-left: 50px;
}

@media all and (max-width:400px) {
  #angellist {
    display: none;
  }
}



::-webkit-input-placeholder {
   color: #06c;
}

:-moz-placeholder { /* Firefox 18- */
   color: #06c;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #06c;
}

:-ms-input-placeholder {
   color: #06c;
}

code, kbd, pre, samp {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

#preview {
  opacity: 0.90;
  filter: alpha(opacity=80);
  position: absolute;
  bottom: 85px;
  width: 95%;
}

#previewTop {
  margin-top: -29px;
  position: absolute;
  top: 50px;
  left: 20px;
  color: #fff;
  font-size: 90%;
}
